/*################## GENERAL START ###################*/
@import url('https://fonts.googleapis.com/css?family=Mukta');
@font-face {
font-family: 'Eurostile';
font-style: normal;
font-weight: normal;
src: local('Eurostile'), url('eurostile.woff') format('woff');
}
@font-face {
font-family: 'EuroStyle Normal';
font-style: normal;
font-weight: normal;
src: local('EuroStyle Normal'), url('EuroStyle Normal.woff') format('woff');
}
html, body {
  background-color: white;
  scroll-behavior: smooth;
  box-sizing: border-box;
}
* {
  box-sizing: border-box;
}
/*################## GENERAL END ###################*/


/*################## NAVBAR START ###################*/
.my-ul { margin: 0 auto; }
#my-icon{ width: 40px; height: 50px; }
.my-a{ margin-left: 3vw; margin-right: 3vw; }
/*################## NAVBAR END ###################*/

/*################## WELCOME START ###################*/
#welcome-page{
  margin-top: 64px;
  background-image: repeating-linear-gradient(
      45deg,
      #926efa 0px,
      #926efa 80px,
      #2b292e 80px,
      #2b292e 160px
    );
  height: 50vh;
  width: 100%;
}
.typewriter{
  width: 390px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  padding: 50px;
  overflow: hidden;
}
.social-icons i {
  color: white;
  font-size: 2rem;
  margin: 10px;
}
.social-icons i:hover {
  transform: scale(1.2);
  transition: all .4s ease-in-out;
}
.typewriter h1 {
  font-size: 4rem;
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(200, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0; }
  to { width: 100%; }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent; }
  50% { border-color: orange; }
}
/*################## WELCOME END ###################*/

/*################## ABOUT SECTION START ###################*/
#about {
  display: block;
  height: 100%;
  width: 100%;
  background: white;
}
.about-row {
  height: 80vh;
}
.about-right {
  background: #2b292e;
  width: 100%;
}
.about-left {
  background: url(../images/profile1.jpeg);
  background-size: cover;
  background-position: top;
  filter: brightness(40%);
  width: 100%;
}
.info {
  color: #cdc7c8;
  font-family: 'Mukta', sans-serif;
  text-align: center;
  line-height: 50px;
}
h1.info {
  margin-top: 20%;
}
.btn.btn-primary.resume-btn {
  margin-top: 40px;
  padding: 10px;
  position: relative;
  left: 38%;
  background-color: #926efa;
}
/*################## ABOUT SECTION END ###################*/


/*################## ABOUT1(MODAL TYPE BOX) SECTION START ###################*/
.desc {
  position: absolute;
  top: -15vh;
  background: white;
  border-radius: 20px;
  margin: 0 auto;
  height: 30vh;
}
.about1-clas {
  background: #926efa;
  height: 70vh;
  border-radius: 0 0 20px 20px;
}
.icons {
  margin-top: 20px;
  padding: 40px;
  text-align: center;
  color: black;
}
.more-about h3 {
  text-align: center;
  color: white;
  font-family: 'Eurostile';
  font-size: 40px
}
.more-about p {
  font-family: 'Eurostile';
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px;
}
/*################## ABOUT1(MODAL TYPE BOX) SECTION END ###################*/


/*################## SKILLS SECTION START ###################*/
#skills {
  height: 100%;
  width: 100%;
  display: block;
  background: white;
}
.skills-left {
  margin: 50px;
}
.skills-left img {
  width: 600px;
  height: 430px;
}
.skills-right{
  margin: 50px;
  margin-top: 120px;
}
.hundred-perc {
  width: 100%;
  height: 25px;
  background: #bfbfbf;
  border-radius: 50px;
  margin: 30px;
  color: white;
}
.progress-fix {
  height: inherit;
  background-color: #2c292e;
  border-radius: 50px 0 0 50px;
}
.my-progress{
  height: inherit;
  background-image: repeating-linear-gradient(
      45deg,
      #926efa 0px,
      #926efa 10px,
      #2b292e 20px,
      #2b292e 20px
    );
  border-radius: 0 50px 50px 0;
}
.skill-head {
  font-family: 'Eurostile';
  font-size: 1.1em;
  position: absolute;
  left: 10px;
}
.percent-display {
  position: absolute;
  right: 40px;
  font-size: 1.1em;
}
/*################## SKILLS SECTION END###################*/

/*################## PROJECTS SECTION START ###################*/
#projects {
}
.project-heading{
  font-family: 'Eurostile';
}
.project-images img {
  margin-top: 50px;
  border-radius: 10px;
}
.carousel-indicators li {
  background-color: black !important;
  width: 15px !important;
  height: 15px !important;
  border-radius: 50% !important;
}
.carousel-control-next-icon, .carousel-control-prev-icon {
  background-color: black !important;
  border-radius: 5px !important;
}
#projects h4, h5 {
  display: inline-block;
  background-color: black;
  opacity: 0.75;
}
/*################## PROJECTS SECTION END ###################*/

/*################## FOOTER START ###################*/
#footer {
  background: #926efa;
  height: 30%;
  margin-top: 50px;
  border-radius: 20px 20px 0 0;
}
.end-note p {
  color: white;
  text-align: center;
}
.end-note img {
  width: 50px;
  height: 50px;
  margin-top: 15px;
  margin-left: 46vw;
}
/*################## FOOTER END ###################*/


/*################## SCROLL-BAR START ###################*/
html::-webkit-scrollbar {
  width: 20px;
  height: 30px;
}
html::-webkit-scrollbar-thumb {
  /*background: -webkit-gradient(linear,left top,left bottom,from(#926efa),to(#2b292e));
  background: linear-gradient(to bottom,#926efa,#2b292e);*/ 
  background-color: #926efa;
  border-radius: 30px;
  -webkit-box-shadow: inset 2px 2px 2px rgba(255,255,255,.4), inset -2px -2px 2px rgba(0,0,0,.4);
  box-shadow: inset 2px 2px 2px rgba(255,255,255,.4), inset -2px -2px 2px rgba(0,0,0,.4);
}
html::-webkit-scrollbar-track {
  /*background: linear-gradient(to right,#2c292e,#2c292e 1px,#2c292e 1px,#ffffff);*/
  background: white;
}
/*################## SCROLL-BAR END ###################*/


/*################## MEDIA-QUERIES START ###################*/
@media only screen and (min-device-width: 768px) and (max-device-width: 1350px) {
  .about-row {
    overflow: hidden;
  }
  .about-left {
    background: url(../images/profile2.jpeg);
    background-attachment: fixed;
    background-size: cover;
  }     
}
@media only screen and (min-device-width: 576px) and (max-device-width: 767px) {
  .typewriter{
    width: 420px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .about-row{
    height: 105vh;
  }
  .about-left {
    height: 52%;
    background-attachment: fixed;
    background-position: top;
  }
  .about-right {
    height: 52%;
  }
  .btn.btn-primary.resume-btn {
    margin-top: 10px;
    padding: 10px;
    position: relative;
    left: 21%;
    background-color: #926efa;
  }
  .desc {
    height: 50%;
    background: white;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 35px;
  }
  .more-about {
    border-radius: 20px;
  }
  .more-about h3 {
    text-align: center;
    color: white;
    font-family: 'Eurostile';
    font-size: 25px
  }
  .more-about p {
    font-family: 'Eurostile';
    color: white;
    font-size: 20px;
    text-align: center;
    padding: 10px;
  }
  .about1-clas {
    margin-top: -450px;
  }
  #skills {
    width: 100%;
    background: white;
  }
  .skills-left {
    margin: 50px;
    margin-top: 50px;
  }
  .skills-left img {
    width: 460px;
    height: 330px;
  }
  .skills-right{
    margin-top: -50px;
    margin-left: 50px;
  }
  .hundred-perc {
    width: 95%;
    height: 25px;
    background: #bfbfbf;
    border-radius: 50px;
    margin: 30px;
    color: white;
  }
  .skill-head {
    font-size: 1em;
    left: 10px;
  }
  .percent-display {
    right: 65px;
    font-size: 1em;
  }
}
@media only screen and (max-device-width: 575px){
  #welcome-page {
    width: 112.5%;
  }
  .typewriter{
    width: 330px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
  }
  .typewriter h1{
    font-size: 3rem;
    color: white;
  }
  .about-row {
    width: 122.8%;
    height: 90vh;
  }
  .about-left {
    width: 112.5%;
    height: 70%;
    background-attachment: fixed;
  }
  .about-right {
    width: 112.5%;
    height: 90%;
  }
  .btn.btn-primary.resume-btn {
    margin-top: 10px;
    padding: 10px;
    position: relative;
    left: 30%;
    background-color: #926efa;
  } 
  #about-1 {
    width: 112.5%;
  }
  .about1-clas {
    background: #926efa;
    width: 112.5%;
    margin-top: 280px;
    height: 150vh;
  }
  .desc {
    background: white;
    border-radius: 20px;
    margin: 0 auto;
  }
  .icons {
    margin-top: -10px;
    text-align: center;
    color: black;
  }
  .more-about h3 {
    text-align: center;
    color: white;
    font-family: 'Eurostile';
    font-size: 40px
  }
  .more-about p {
    font-family: 'Eurostile';
    color: white;
    font-size: 20px;
    text-align: center;
    /*padding: 20px;*/
  }
  #skills {
    width: 100%;
    background: white;
  }
  .skills-left {
    margin: 50px;
    margin-top: 30px;
  }
  .skills-left img {
    width: 290px;
    height: 210px;
  }
  .skills-right{
    margin-top: -50px;
    margin-left: 20px;
  }
  .hundred-perc {
    width: 140%;
    height: 25px;
    background: #bfbfbf;
    border-radius: 50px;
    margin: 30px;
    color: white;
  }
  .skill-head {
    font-size: 1em;
    left: 10px;
  }
  .percent-display {
    right: -60px;
    font-size: 1em;
  }
  #projects {
    width: 112.5%;
  }
  .project-images img {
    /*height: 200%;*/
    margin-top: 50px;
    border-radius: 10px;
  }
  #footer {
    height: 30%;
    width: 112.5%
  }
}
/*################## MEDIA-QUERIES END ###################*/